{% extends "layout/base.html" %}

{% block content %}
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <img src="http://artwr.github.io/images/Arthur2.jpg" class="img-responsive" height="300px" width="300px"/>
        </div>
        <div class="col-md-5">
          <h1 class="text-justify text-muted">Arthur Wiedmer</h1>
          <p class="lead">I am an <a href="http://insightdataengineering.com/">Insight Data Engineer fellow</a></p>
          <p class="lead">In a former life, I was a PhD student at UC Berkeley in Environmental Engineering. Take a look at my <a href="http://artwr.github.io/">website</a> or my <a href="http://github.com/artwr">github account</a></p>
       </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
