{% extends "layout/base.html" %}

{% block head %}
<!-- <script src="https://code.jquery.com/jquery-2.1.1.js"></script> -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery-2.1.1.min.js') }}"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="starter-template">
      <h1>{{title}}</h1>
      <h3>Edit Activity</h3>
      <p>
      <h4>Yearly</h4>
      <p>
      <div id="ploty" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      <h4>Monthly</h4>
      <p>
      <div id="plotm" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      <!-- <h4>Daily</h4>
      <p>
      <div id="plotd" style="min-width: 310px; height: 400px; margin: 0 auto"></div> -->
    </div>
  </div>
  <script>
  $(function () {
    $('#ploty').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Edits by Year',
            x: -20 //center
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            floor: 0,
            title: {
                text: 'Number of edits'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'edits'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: '{{ title }}',
            data: {{ydata | safe}}
        }]
    });

    $('#plotm').highcharts({
        chart: {
            plotBackgroundColor: null,
            zoomType: 'x',
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Monthly Edits',
            x: -20 //center
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            floor: 0,
            title: {
                text: 'Number of edits'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'edits'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: '{{ title }}',
            data: {{mdata | safe}}
        }]
    });

});
  </script>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}