{% extends "layout/base.html" %}

{% block head %}
<!-- <script src="https://code.jquery.com/jquery-2.1.1.js"></script> -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery-2.1.1.min.js') }}"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<!-- Add d3.js -->
<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
{% endblock %}

{% block content %}
  <div class="container">
    <div class="starter-template">
      <h1>{{title}}</h1>
      <h3> Edit Activity </h3>
      <h4>Activity in the past 6 months</h4>
      <p>
      <div id="cal-heatmap" style="min-width: 310px; margin: 0 auto"></div>
      <p>
      <div id="ploty" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      <p>
      <div id="plotm" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      <p>
      <div id="plotd" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
  </div>
  <script>
  
  </script>
  <script>
  var cal = new CalHeatMap();
    cal.init({
        itemSelector: "#cal-heatmap",
        domain: "month",
        subDomain: "day",
        start: new Date(2014, 03, 01),
        cellSize: 30,
        subDomainTextFormat: "%d",
        range: 6,
        data: {{ cal_data | safe}},
        displayLegend: false
    });
  </script>
  <script>
  $(function () {
    $('#ploty').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Edits by Year',
            x: -20 //center
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            floor: 0,
            title: {
                text: 'Number of edits'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'edits'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: '{{ title }}',
            data: {{ydata | safe}}
        }]
    });

    $('#plotm').highcharts({
        chart: {
            plotBackgroundColor: null,
            zoomType: 'x',
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Monthly Edits',
            x: -20 //center
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            floor: 0,
            title: {
                text: 'Number of edits'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'edits'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: '{{ title }}',
            data: {{mdata | safe}}
        }]
    });

    $('#plotd').highcharts({
        chart: {
            plotBackgroundColor: null,
            zoomType: 'x',
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Daily Edits',
            x: -20 //center
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            floor: 0,
            title: {
                text: 'Number of edits'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'edits'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: '{{ title }}',
            data: {{ddata | safe}}
        }]
    });

});
  </script>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}