<div id="footer">
  <div class="container">
    <p class="pull-left"><strong>&#169; Arthur Wiedmer</strong>
      <!-- <a href="#">Privacy</a> &middot; <a href="#">Terms</a> -->
    </p>
    <div class="genericon-footer">
      <div class="social-icons">
        <a href="https://github.com/artwr" alt="f200" class="genericon genericon-github hidden-xs"></a>
      </div>
      <div class="social-icons">
        <a href="https://twitter.com/awiedmer" alt="f202" class="genericon genericon-twitter hidden-xs"></a>
      </div>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/arthurwiedmer"
           alt="f207" class="genericon genericon-linkedin hidden-xs"></a>
      </div>
    </div>
  </div>
</div>
