<mtml>
    <head>
        <title> Login Page </title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='signin.css') }}"></head>  
    <body>
<div class="container">

      <form class="form-signin" action="/login" method=post>
        <h2 class="form-signin-heading">Wikimapper: Sign in</h2>
        <label for="inputEmail" class="sr-only">Wikipedia Username</label>
        <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
    </body>
</html>
